ZSH_CONFIGS={{ zsh__configs_dir }}

# Set up Zinit
ZINIT_HOME={{ zsh__zinit_home }}
source "${ZINIT_HOME}/zinit.zsh"
source "${ZSH_CONFIGS}/plugins.zsh"

# Configure interactive-shell
source "${ZSH_CONFIGS}/prompt.zsh"
source "${ZSH_CONFIGS}/keybinds.zsh"
source "${ZSH_CONFIGS}/commands.zsh"

if [ -e "$HOME/.zshrc.local" ] ; then
    source "$HOME/.zshrc.local"
fi
